<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Find Me Coffee</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	
	<h1>hello world</h1>
	
	<p>need caffeine now</p>
	<div ng-controller="mainController">
		
		<input type="text" ng-model="searchLocation">
		<button ng-click="search()">Submit</button>

		<div class="art" ng-repeat="item in data">
			<h2>{{item.venue.name}}</h2>
			<p><i class="fa fa-home"></i>{{item.venue.location.formattedAddress[0]}}, {{item.venue.location.formattedAddress[1]}}</p>
			<a href="{{item.venue.url}}" target="_blank"><i class="fa fa-globe"></i>{{item.venue.url}}</a>
			<a href="http://twitter.com/{{item.venue.contact.twitter}}" target="_blank"><i class="fa fa-twitter"></i>{{item.venue.contact.twitter}}</a>

			<!-- <img ng-src="{{photo}}" alt=""> -->
		</div>

	</div>
	
	<script src="js/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>